 <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <nav class="navbar navbar-inverse" style="background-color: #5B5A5A;">
  <span><strong><a class="navbar-brand">Destinations</a></strong></span>
<div class="text-right">
<form method="GET" class="form-inline" action="/logout">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
  </form>
  
  <div class="icon-bar">
  <a href="#"><i class="fa fa-search"></i></a> 
  <a href="#"><i class="fa fa-envelope"></i></a> 
  <a href="#"><i class="fa fa-trash"></i></a> 
</div>
  </nav>

<div class= "container">
<h1>welcome <%= @user.name%> </h1><br>

<h3><%= @total_post %> LAST POSTS CREATED </h3>

<div class ="post">
<% @post.each do |p|%>
<a href="/post/<%= p.id%>">
<h4><%= p.title%><br></h4>
<p> <%= p.content%><br> </p>
<p>created : <%= p.created_at%><br> </p>
<p>updated : <%= p.updated_at%><br> </p>
</a>
<% end%><br>

</div>
<p><a href= "/post/new"> Create a new Post</a>
</div>